@tailwind base;
@tailwind components;
@tailwind utilities;

/* footer.css */

body {
  font-family: serif;
}

html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  #root {
    flex: 1;
  }
  
  .footer {
    margin-top: auto;
  }
  /* .scroll-lock {
    overflow: hidden;
  } */