@tailwind base;
@tailwind components;
@tailwind utilities;

/* footer.css */
html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  #root {
    flex: 1;
  }
  
  .footer {
    margin-top: auto;
  }
  